<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Marker" %></h1>
  <h3>Enter Markdown text below</h3>
  <form phx-change="to_html" phx-submit="to_html">
    <textarea name="m" value="<%= @markdown %>" placeholder="Markdown document"></textarea>
  </form>

</section>
<section>
  <%= inspect(@result) %>
</section>
